
<div class="container">
    <div class="row">
        <div class="mt-3 mb-3" style="text-align: center ;">
            <button class="btn btn-success" type="button" (click)="addStudentButton()">Add Student</button>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Gpa</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.gpa}}</td>
                <td><button class="btn btn-warning" (click)="editStudentButton(student.id)">Edit</button></td>
                <!-- <td><button class="btn btn-warning" (click)="deleteStudentButton(student.id)">Delete</button></td> -->
              </tr>
    
            </tbody>
          </table>




    </div>
</div>
